body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  margin: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

table {
  border-collapse: collapse;
  padding: 2px;
  width: 100%;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  transition: background-color 0.3s ease;
}

table th,
table td {
  padding: .625em 1em; /* Updated padding */
  text-align: center;
  box-sizing: border-box; /* Ensures padding is included in the width */
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

table th:last-child {
  border-top-right-radius: 10px; 
}

table th:first-child {
  border-top-left-radius: 10px; 
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

table tr:hover {
  background-color: #d0d0d0;
}

@media screen and (max-width: 600px) {
  table {
    border: 0; 
    overflow: hidden;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: .625em;
    border-radius: 10px; 
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
    padding: .625em 1em; 
    box-sizing: border-box; 
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
  }
  
  table td:last-child {
    border-bottom: 0;
    border-bottom-left-radius: 10px; 
  }
  
  table tr:hover {
    background-color: #d0d0d0;
  }
}

.green {
    color: green;
}

.yellow {
    color: #ffd700;
}

.red {
    color: red;
}

.custom-model-main {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.custom-model-inner {
  display: flex; /* Adjusted */
  flex-direction: column; /* Adjusted */
  align-items: center; /* Adjusted */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  min-width: 230px;
  max-width: 500px;
  overflow-y: auto; /* Adjusted */
  max-height: 80vh; /* Adjusted */
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
}

#popup-content {
  margin-top: 5px;
  width:100%;
  text-align: right;
}

.no-highlight:hover {
  background-color: #ffffff; 
}
